# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Android
local.properties
*.iml
.idea

# Rust
rustlib/target/

# Native libs (build artifacts)
sdk/src/main/jniLibs/
**/build/

# Build output
output/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.swp
*.swo
.kotlin/
/docs
/tasks 
